﻿@{
    ViewBag.Title = "Home Page";
}

<style>
    input, select, textarea {
        max-width: 900px;
    }

    .btn-lg, .btn-group-lg > .btn {
        padding: 10px 45px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 10px;
    }

    .input-group {
        position: relative;
        display: table;
        border-collapse: separate;
        height: 50px;
    }

        .input-group .form-control {
            position: relative;
            z-index: 2;
            float: left;
            width: 100%;
            margin-bottom: 0;
            height: 50px;
        }

    body {
        padding-top: 17px;
        padding-bottom: 20px;
        background-color:antiquewhite    }
</style>

<script src="~/Scripts/jquery-3.4.1.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#imgBool').click(function () {
            var href = $(this).find("a").attr("href");
            if (href) {
                window.location = href;
            }
            var textValue = $('#txtValue').val();
            alert(textValue);

        });

        $('#imgBool').hover(function () {
            $(this).css('cursor', 'pointer');
        });
    });
</script>


        <div class="jumbotron" style="padding-top:1%;">
            <div>
                <img alt="logo" src="~/Content/Images/logo1.png" style="padding-left:40%;" />
            </div>

            <label for="basic-url">Ask for any advice</label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Type your word</span>
                <input id="txtValue" type="text" class="form-control" placeholder="Enter your Question..." style="width:100%">
            </div>

        </div>

        <div class="row">
            <div class="row">
                @Html.AntiForgeryToken()

                <div id="booleanDiv" class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img id="imgBool" src="~/Content/Images/ee.png" />
                        <div class="caption">
                            <h3>Boolean Model</h3>
                            @Html.ActionLink("Search", "BooleanModel", "Home", new AjaxOptions { HttpMethod = "POST" }, new { @id = "btnBoolean", @class = "btn-pill btn-shadow btn-wide fsize-1 btn btn-success btn-lg", onclick = "BooleanModel(this)" })
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="~/Content/Images/bb.png" />
                        <div class="caption">
                            <h3>Extended Boolean Model</h3>
                            @Html.ActionLink("Search", "ExtendedBooleanModel", "Home", new AjaxOptions { HttpMethod = "POST" }, new { @id = "btnExtendedBoolean", @class = "btn-pill btn-shadow btn-wide fsize-1 btn btn-primary btn-lg", onclick = "ExtendedBooleanModel(this)" })
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="~/Content/Images/vv.jpg" />
                        <div class="caption">
                            <h3>Vector Model</h3>
                            @Html.ActionLink("Search", "VectorModel", "Home", new AjaxOptions { HttpMethod = "POST" }, new { @id = "btnVector", @class = "btn-pill btn-shadow btn-wide fsize-1 btn btn-warning btn-lg", onclick = "VectorModel(this)" })
                        </div>
                    </div>
                </div>

            </div>
        </div>



<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<script type="text/javascript">
    function BooleanModel(e) {

        var text = $("#txtValue").val();

        var url = e.href = "/Home/BooleanModel?searchText=" + text;
        $.ajax(url).then(function (data) {
            type: "GET"
        });
    }
    function ExtendedBooleanModel(e) {

        var text = $("#txtValue").val();

        var url = e.href = "/Home/ExtendedBooleanModel?searchText=" + text;
        $.ajax(url).then(function (data) {
            type: "GET"
        });
    }
    function VectorModel(e) {

        var text = $("#txtValue").val();

        var url = e.href = "/Home/VectorModel?searchText=" + text;
        $.ajax(url).then(function (data) {
            type: "GET"
        });
    }
</script>

