﻿@model IEnumerable<HIA.Models.Question>

@{
    ViewBag.Title = "Index";
}

@Html.ActionLink(" Back", "Index", "Home", null, new { @class = "glyphicon glyphicon-arrow-left btn btn-primary" })

<h2>@ViewBag.resultLabel <b style="color:red;">@ViewData["TXT"]</b></h2>

<br />

@foreach (var item in Model)
{
    <div class="list-group">
        <a class="list-group-item" href="@Url.Action("Details","Questions",new { id= item.id})">
            <div class="list-group-item-heading">
                <h3 class="media-heading">
                    @Html.Raw(@item.question1.Replace((string)ViewData["TXT"], "<span style='background-color:lightblue;'>" + (string)ViewData["TXT"] + "</span>"))
                </h3>
                <hr />
                <h4>
                    @Html.Raw(@item.answer.Replace((string)ViewData["TXT"], "<span style='background-color:yellow;'>" + (string)ViewData["TXT"] + "</span>"))
                </h4>
            </div>
        </a>
    </div>

}
