﻿@model IEnumerable<HIA.Models.Question>

@{
    ViewBag.Title = "Index";
}

<h2></h2>

<p>
    @Html.ActionLink("Ask for new question .... ", "Index", "Home", null, new { @class = "btn btn-danger" })
</p>

@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>
                @Html.DisplayFor(modelItem => item.question1)
            </h2>
        </div>

        <div class="panel-body">
            <h4>
                @Html.DisplayFor(modelItem => item.answer)
            </h4>
        </div>

    </div>
}


