﻿@model IEnumerable<HIA.Models.Question>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New Question", "Create", null, new { @class = "btn btn-success" })
</p>

@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>
                @Html.DisplayFor(modelItem => item.question1)
            </h2>
        </div>

        <div class="panel-body">
            <h4>
                @Html.DisplayFor(modelItem => item.answer)
            </h4>
        </div>

        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item" style="padding-left:40%;">
                @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-warning" })  |
                @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-primary" })  |
                @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
            </li>
        </ul>
    </div>
}


